<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>SimpleApp</display-name>
    <welcome-file-list>
        <welcome-file>registration.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>CrudServlet</servlet-name>
        <servlet-class>simple.CrudServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrudServlet</servlet-name>
        <url-pattern>/CrudServlet</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>TripCrudServlet</servlet-name>
        <servlet-class>simple.TripCrudServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TripCrudServlet</servlet-name>
        <url-pattern>/TripCrudServlet</url-pattern>
    </servlet-mapping>
</web-app>